<!--
    name: string;
    purpose: string;
    travelStart: Date;
    travelEnd: Date;
    days: number;
    allowancePerDay: number;
    allowanceTotal: number;
-->
<h2>Allowance Calculator</h2>
<div class="ui-g" style="max-width: 1200px" *ngIf="testFormDocument; else loading">
    <div class="ui-g-12 ui-md-6">
        <span class="ui-g-12">
            <label class="ui-g-6" for="testFormName">Name</label>
            <input class="ui-g-6" id="testFormName" type="text" pInputText [(ngModel)]="testFormDocument.name" />
        </span>
    </div>

    <div class="ui-g-12 ui-md-6">
        <span class="ui-g-12">
            <label class="ui-g-6" for="testFormPurpose">Purpose</label>
            <input class="ui-g-6" id="testFormPurpose" type="text" pInputText [(ngModel)]="testFormDocument.purpose" />
        </span>
    </div>

    <div class="ui-g-12 ui-md-6">
        <span class="ui-g-12">
            <label class="ui-g-6" for="testFormTravelDates">Travel Dates</label>

            <p-calendar [(ngModel)]="travelDates" [showIcon]="true" id="testFormTravelDates"
                name="testFormTravelDates" selectionMode="range" (onSelect)="selectDate()"></p-calendar>
        </span>
    </div>

    <!-- <div class="ui-g-12 ui-md-6">
        <span class="ui-g-12">
            <label class="ui-g-6" for="testFormTravelStart">Travel Start</label>
            
            <p-calendar [(ngModel)]="testFormDocument.travelStart" [showIcon]="true" id="testFormTravelStart" name="testFormTravelStart" ></p-calendar>
        </span>
    </div>

    <div class="ui-g-12 ui-md-6">
        <span class="ui-g-12">
            <label class="ui-g-6" for="testFormTravelEnd">Travel End</label>
            <p-calendar [(ngModel)]="testFormDocument.travelEnd" [showIcon]="true" id="testFormTravelEnd" name="testFormTravelEnd" ></p-calendar>
        </span>
    </div> -->

    <div class="ui-g-12 ui-md-6">
        <span class="ui-g-12">
            <label class="ui-g-6" for="testFormDays">Days</label>
            <input disabled class="ui-g-6" id="testFormDays" type="text" pInputText name="testFormDays"
                [(ngModel)]="testFormDocument.days" />
        </span>
    </div>

    <div class="ui-g-12 ui-md-6">
        <span class="ui-g-12">
            <label class="ui-g-6" for="testFormAllowancePerDay">Allowance Per Day</label>
            <input class="ui-g-6" id="testFormAllowancePerDay" type="text" pInputText
                [(ngModel)]="testFormDocument.allowancePerDay" />
        </span>
    </div>

    <div class="ui-g-12 ui-md-6">
        <span class="ui-g-12">
            <label class="ui-g-6" for="testFormAllowanceTotal">Allowance Total</label>
            <input disabled class="ui-g-6" id="testFormAllowanceTotal" type="text" pInputText
                [(ngModel)]="testFormDocument.allowanceTotal" />
        </span>
    </div>

    <div class="ui-g-12">
        <p-button label="save" icon="pi pi-check" iconPos="left" (click)="onSave()"></p-button>
    </div>
</div>
<ng-template #loading>loading ...</ng-template>